
body {
    margin: 0px;
    padding: 0px;
}

.left-bar {
    position: relative;
    top: 20px;
    left: 20px;

    width: 200px;
    height: 500px;

    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.left-bar img {
    position: relative;

    width: 100px;
    left: 50px;
}

.left-bar h1 {
    text-align: center;
}

.left-bar p {
    text-align: center;
}

.content {
    position: absolute;
    top: 20px;
    left: 250px;

    width: 800px;

    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.content h1 {
    text-align: center;
}

.content h4 {
    text-align: center;
}

.content p {
    position: relative;
    left: 100px;

    width: 600px;
}

.main_content {
    position: absolute;
    top: 20px;
    left: 250px;

    width: 800px;

    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.main_content h1 {
    text-align: center;
}

.main_content p {
    text-align: center;
}

